<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @user.email %>
</p>

<p>      
  <strong>Followers:</strong>
  <br>
  <%= button_to "#{@followers_count}", users_followers_path, params: {id: @user.id}, method: :get %>
  </br>
</p>

<p>
  <strong>Following:</strong>
  <%= button_to "#{@following_count}", users_following_path, params: {id: @user.id}, method: :get %>
</p>

<%if user_signed_in?%>
  <%if current_user.id == @user.id%>
    <%= link_to 'Edit', edit_user_path(@user) %> |
  <%else%>
    <% if !@is_follow %> 
      <%= button_to "follow", followers_path(follower: {user_id: current_user.id,follow: @user.id}) %>
    <%else%>
      <%= button_to "unfollow", follower_url(@follow_row_index), method: :delete, data: { confirm: 'Are you sure?' }  %>
    <%end%>
  <%end%>
<%end%>
<%= link_to 'Back', users_path %>
