<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @followers.length() || 0 %>
</p>

<p>
  <strong>Following:</strong>
  <%= @follows.length() || 0 %>
</p>

<%if user_signed_in?%>
  <%if current_user.id == @user.id%>
    <%= link_to 'Edit', edit_user_path(@user) %> |
  <%else%>
    <%= button_to "follow", followers_path(follower: {user_id: current_user.id,follow: @user.id}) %>
  <%end%>
<%end%>
<%= link_to 'Back', users_path %>
